@import url("weather.css");

/* big stuff */
:root {
  --primary-color: #0f0959;
  --secondary-color: #d68e43;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  background: white;
  color: black;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Work Sans", sans-serif;
}

#mainContainer {
  margin: 0;
}

#middleRow {
  margin-top: 5em;
  margin-bottom: 20%;
  min-height: 1200px;
}

#middleColumn div {
  margin: 0.4em;
}

#weather {
  padding: 1em;
}

#testBox {
  height: 400px;
  width: auto;
  border: 1px solid rgba(0, 0, 0, 0.18);
}

/* big stuff over */

/* sidebar */

@import url("https://fonts.googleapis.com/css?family=Poppins");

.sidebar {
  height: 100%;
  width: 16%;
  min-width: 200px;
  background-color: white;
  position: fixed;
  top: 4em;
  left: -40em;
  z-index: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  -webkit-box-shadow: 0px 0px 14px -2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 14px -2px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 14px -2px rgba(0, 0, 0, 0.6);
  font-family: "Poppins", sans-serif;
}

#mySideBar {
  padding-top: 2em;
}

.sidebarActive {
  left: 0;
}

#hamburgerMenu {
  font-size: 2em;
}

.listItem {
  width: 100%;
  height: auto;
  text-align: left;
  border-collapse: collapse;
  font-weight: bold;
}

.listItemLink {
  text-decoration: none;
  color: black;
  height: 3em;
  width: inherit;
  background: transparent;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 2em;
}

.listItemLinkActive {
  text-decoration: none;
  background: var(--primary-color);
  color: whitesmoke;
  text-decoration: none;
  height: 3em;
  width: inherit;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 2em;
}

.listItemLinkActive:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

.listItemLink:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

/* sidebar over */

/* news cards */

.newsCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2em;
  margin: 0.2em;
  -webkit-box-shadow: 2px 2px 14px -2px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 2px 2px 14px -2px rgba(0, 0, 0, 0.18);
  box-shadow: 2px 2px 14px -2px rgba(0, 0, 0, 0.18);
}

.newsCardText {
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
  margin: 0;
  line-height: 100%;
}

.thirdRow {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  min-height: 2em;
}

.newsCardText h3 {
  font-weight: 600;
  font-size: 1.5em;
}

.cardTextDescription {
  font-weight: 300;
}

.newsCardText .headlineLink {
  text-decoration: none;
  color: black;
}

.newsCardText .headlineLink:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

.newsCardText h3,
p {
  margin: 0.1em;
}

.newsCardImage {
  align-self: center;
  padding: 0;
  margin: 0;
  height: 100px;
  width: 150px;
}

.newsCardImage img {
  height: 100%;
  width: 150px;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.08);
}

.cardTimeStamp {
  font-size: 0.8em;
  color: gray;
  font-weight: 300;
}

/** news card share buttons container **/

.newsCard:hover .shareEmail {
  opacity: 1;
}

.newsCard:hover .shareTwitter {
  opacity: 1;
}

.shareContainer {
  padding-left: 1em;
}

.shareEmail,
.shareTwitter {
  display: inline-block;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.4s;
  transition-timing-function: linear;
  text-decoration: none;
  color: black;
  font-size: 0.8em;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.shareEmail:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

.shareTwitter:hover {
  text-decoration: none;
  color: #1dcaff;
}

/** news card share buttons container over **/
/* news cards over*/

.container-fluid {
  margin-top: 1em;
}

/* top bar/row */

#bigName {
  text-align: center;
  height: 2em;
  margin-left: 2em;
}

#bigName img {
  height: 100%;
  margin: auto;
}

#topRow {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.28);
  padding: 1em;
}

#menuButtonDiv {
  position: absolute;
  left: 2em;
  height: auto;
  text-decoration: none;
}

#menuButton {
  text-decoration: none;
  color: black;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menuButton:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

/* top bar/row over */

/* middle row */
#topInfoSection {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 4em;
}

#topInfoSectionText {
  font-size: 2em;
  font-weight: 700;
  color: var(--primary-color)
}

#topInfoSectionIcon {
  padding-right: 1em;
  font-size: 2em;
  color: var(--primary-color);
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  min-height: 4em;
  background: rgb(161, 168, 170);
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 5px 3px 3px 5px rgba(0, 0, 0, 0.28);
  margin-top: 2em;
  font-weight: 500;
  color: rgb(196, 207, 218);
  text-align: center;
  padding: 1em;
}

footer a {
  text-decoration: none;
  color: rgb(196, 207, 218);
  padding: 1em;
}

footer a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

title {
  font-family: "Work Sans", sans-serif;
}